@font-face {
    font-family: Manrope3-Bold;
    src: url(../fonts/manrope/manrope-bold.ttf);
}

@font-face {
    font-family: Manrope3-Light;
    src: url(../fonts/manrope/manrope-light.ttf);
}

@font-face {
    font-family: Manrope3-Medium;
    src: url(../fonts/manrope/manrope-medium.ttf);
}

@font-face {
    font-family: Manrope3-Regular;
    src: url(../fonts/manrope/manrope-regular.ttf);
}

@font-face {
    font-family: Manrope3-SemiBold;
    src: url(../fonts/manrope/manrope-semibold.ttf);
}

@font-face {
    font-family: Manrope3-Thin;
    src: url(../fonts/manrope/manrope-thin.ttf);
}

.bronItem {
    cursor: pointer;
    transition: .5s;
}

.bronItem p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
}

section .container .row form .bronItem.open .head h3, section .container .row .form .bronItem.open .head h3 {
    color: #F4438A;
}

section .container .row form .bronItem.open, section .container .row .form .bronItem.open {
    min-height: 700px;
}

.inputDatePicker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

section .container .row form .bronItem.open .inputDatePicker, section .container .row .form .bronItem.open .inputDatePicker {
    pointer-events: none;
}

.bronItem .head {
    position: relative;
}

.daterangepicker {
    width: 100%;
    max-width: 1176px;
    margin-top: 0;
    border: none;
    border-top: 1px solid #EAEEF4;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.daterangepicker .drp-calendar {
    max-width: unset;
    width: calc(100% / 2 - 16px);
}

.daterangepicker .drp-calendar.right {
    margin-left: 30px;
}

.daterangepicker.opensleft:after,
.daterangepicker.opensleft:before {
    display: none;
}

.daterangepicker .calendar-table th {
    font-family: "Manrope3-Regular";
    font-size: 14px;
    line-height: 19px;
    color: #444444;
    font-weight: normal;
    border-radius: 0px;
}

.daterangepicker .calendar-table td {
    font-family: "Manrope3-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #00236D;
    width: 78px;
    height: 78px;
    border-radius: 0px;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    text-decoration: none;
}

.daterangepicker .calendar-table td.off.ends {
    /* opacity: 0;
    pointer-events: none; */
    visibility: hidden !important;
}

.daterangepicker .calendar-table thead tr:nth-child(1) th {
    font-family: "Manrope3-Regular";
    font-size: 20px;
    line-height: 27px;
    color: #00236D;
    height: 100px;
}

.daterangepicker .calendar-table thead tr:nth-child(2) th {
    cursor: default;
}

.daterangepicker .drp-calendar.left tr:nth-child(1) th {
    text-align: left;
}

.daterangepicker .drp-calendar.right tr:nth-child(1) th {
    text-align: right;
}

/* .daterangepicker .drp-calendar  tr:nth-child(1):hover th{
    color: #F4438A;
} */


.daterangepicker .drp-calendar.left .prev.available {
    text-align: center;
}

.daterangepicker .drp-calendar.right .next.available {
    text-align: center;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
    border: none;
    background-image: url("../images/arrleftblue.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 26px;
    width: 16px;
    transform: none;
    margin-left: auto;
    margin-right: auto;
}

/* .daterangepicker .calendar-table .prev span:hover{
    background-image: url../images/arrleftpink.png");
}

.daterangepicker .calendar-table .next span:hover{
    background-image: url../images/arrightpink.png");
} */

.daterangepicker .drp-calendar.right tr:nth-child(1):hover .next span {
    background-image: url("../images/arrightpink.png");
}

.daterangepicker .drp-calendar.left tr:nth-child(1):hover .prev span {
    background-image: url("../images/arrleftpink.png");
}

.daterangepicker .calendar-table .next span {
    background-image: url("../images/arrightblue.png");
}

.daterangepicker .drp-calendar tr:nth-child(1) th:hover {
    background: transparent;
}

.daterangepicker .drp-buttons .cancelBtn,
.daterangepicker .drp-selected {
    display: none;
}

.add-list-btn {
    display: inline-block;
    padding: 10px 10px 11px 10px !important;
    font-family: "Manrope3-SemiBold";
    color: #FFFFFF;
    background-color: #F4438A;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.add-list-btn:hover {
    opacity: .8;
    color: #fff;
}

.add-list-btn svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.daterangepicker.show-calendar .drp-buttons {
    position: absolute;
    top: -70px;
    right: 16px;
    border: none;
}

.daterangepicker.show-calendar .drp-buttons.disabled {
    opacity: 0;
}

.daterangepicker td.today.in-range,
.daterangepicker td.in-range {
    background: #F4438A;
    color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range.available:hover,
.daterangepicker td.active.end-date.in-range.available,
.daterangepicker td.active.start-date.available {
    background: #00236D;
    color: #fff;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover,
.daterangepicker td.today,
.daterangepicker td:hover {
    background: #F5F7FB;
    color: #00236D;
}

section .container .row form .white-block .list-block.bron_list .item_head, section .container .row .form .white-block .list-block.bron_list .item_head {
    padding: 16.5px 83px 16.5px 24px;
}

.bron_list .item_head span {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #9AA0AC;
    display: block;
    width: calc(100% / 3);
    cursor: pointer;
}

.bron_list .item_head span:nth-child(2) {
    text-align: center;
}

.bron_list .item_head span:nth-child(3) {
    text-align: right;
}

.bron_list .item_head span svg {
    width: 12px;
    transform: rotate(90deg);
}

section .container .row form .white-block .list-block.bron_list li.item, section .container .row .form .white-block .list-block.bron_list li.item {
    border-top: solid 1px #F0F5FC;
    border-bottom: none;
}

section .container .row form .white-block .list-block.bron_list .item:hover, section .container .row .form .white-block .list-block.bron_list .item:hover {
    box-shadow: 0px 4px 100px rgba(0, 35, 109, 0.08);
    border-color: transparent;
}

section .container .row form .white-block .list-block.bron_list .item:hover + .item, section .container .row .form .white-block .list-block.bron_list .item:hover + .item {
    border-color: transparent;
}


.input_number_block button {
    background: #FFFFFF;
    border: 1px solid #D4E2F5;
    box-sizing: border-box;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: #00236D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_number_block button.btn_plus {
    transform: translateX(4px);
}

.input_number_block button.btn_minus {
    transform: translateX(-4px);
}

.input_number_block button:hover,
.input_number_block button:focus {
    border-color: #00236D;
    outline: none;
}

.input_number_block button svg {
    width: 16px;
    height: 16px;
}

.input_number_block input {
    width: 60px;
    height: 40px;
    text-align: center;
    border-top: 1px solid #D4E2F5;
    border-bottom: 1px solid #D4E2F5;
}

section .container .row form .white-block .list-block.bron_list .item .left-block, section .container .row .form .white-block .list-block.bron_list .item .left-block {
    width: 100%;
    max-width: 480px;
}

section .container .row form .white-block .list-block.bron_list li.item:after, section .container .row .form .white-block .list-block.bron_list li.item:after {
    display: none;
}

section .container .row form .white-block .list-block.bron_list .item .middle-block, section .container .row .form .white-block .list-block.bron_list .item .middle-block {
    width: 44%;
    font-size: 16px;
    line-height: 22px;
}

section .container .row form .white-block .list-block.bron_list li.item .right-block, section .container .row .form .white-block .list-block.bron_list li.item .right-block {
    max-width: 140px;
    width: 100%;
}

section .container .row form .white-block .list-block.bron_list li.item .right-block, section .container .row .form .white-block .list-block.bron_list li.item .right-block {
    border-radius: 5px;
}

.jv_content_head {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 30px 24px;
}

.jv_content_head .jv_form_group {
    width: calc(100% / 4 - 18px);
}

section .container .row form .white-block .head.jv_head, section .container .row .form .white-block .head.jv_head {
    border-bottom: none;
}

section .container .row form .white-block .head:hover, section .container .row .form .white-block .head:hover,
section .container .row form .white-block .head:hover h3, section .container .row .form .white-block .head:hover h3 {
    color: #F4438A;
}

.dataTables_wrapper thead .sorting:before,
.dataTables_wrapper thead .sorting:after {
    opacity: 0;
}

.dataTables_wrapper thead .sorting_asc:after,
.dataTables_wrapper thead .sorting_desc:after,
.bronItem .dataTables_filter,
.bronItem .dataTables_length {
    display: none;
}

.bronItem table.dataTable.no-footer {
    border: none;
}

.bronItem table.dataTable thead th,
.bronItem table.dataTable thead td {
    border: none;
    border-bottom: 1px solid #EAEEF4;
    border-top: 1px solid #EAEEF4;
}

.bronItem table.dataTable thead th {
    font-family: "Manrope3-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #9AA0AC;
}

.bronItem table.dataTable thead th .arrows {
    width: 10px;
    line-height: 0;
    margin-left: 5px;
    transform: translateY(2px);
}

.bronItem table.dataTable thead th .jv_table_head_th {
    display: flex;
    align-items: center;
}

.bronItem table.dataTable thead th svg {
    width: 10px;
    height: 12px;
}

.bronItem table.dataTable thead th svg:nth-child(1) {
    transform: translateY(3px);
}

.bronItem table.dataTable thead th svg:last-child {
    transform: translateY(-3px);
}

.bronItem .dataTables_wrapper thead .sorting .arrows svg {
    opacity: 1;
}

.bronItem .dataTables_wrapper thead .sorting_desc .arrows svg:first-child,
.bronItem .dataTables_wrapper thead .sorting_asc .arrows svg:last-child {
    opacity: 0;
}

.bronItem table.dataTable thead .sorting_desc,
.bronItem table.dataTable thead .sorting,
.bronItem table.dataTable thead .sorting_asc {
    background: #fff;
}

.bronItem table.dataTable tbody tr td {
    border-bottom: 1px solid #F0F5FC;
}

.bronItem table.dataTable tbody tr td:first-child {
    font-size: 15px;
    line-height: 21px;
    color: #00236D;
    font-family: Manrope3-SemiBold;
}

.bronItem table.dataTable tbody tr td:nth-child(2) {
    font-size: 15px;
    line-height: 21px;
    color: #202020;
    font-family: Manrope3-SemiBold;
}

.bronItem table.dataTable tbody tr td:nth-child(3) {
    font-size: 15px;
    line-height: 21px;
    color: #202020;
    font-family: Manrope3-Regular;
}

.bronItem table.dataTable tbody tr td svg {
    width: 20px;
}

.bronItem table.dataTable tbody tr {
    transition: .5s;
}

.bronItem table.dataTable tbody tr:hover {
    box-shadow: 0px 4px 100px rgba(0, 35, 109, 0.08);
    z-index: 1;
}

.bronItem table.dataTable tbody tr:hover + tr {
    box-shadow: inset 0px 0px 50px 0px rgba(0, 35, 109, 0.08);
}

.bronItem .jv_number_span {
    border: 1px solid #D4E2F5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Manrope3-Regular";
    font-size: 12px;
    line-height: 16px;
    color: #00236D;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 31px;
    min-height: 27px;
    margin-right: 10px;
    transition: .3s;
}

.bronItem table.dataTable tbody tr:hover .jv_number_span {
    background: #00236D;
    color: #43F4EE;
}

.bronItem table.dataTable tbody tr.status_expectation td:nth-child(1) {
    border-left: 2px solid #F4438A;
}

.bronItem table.dataTable tbody tr.status_populated td:nth-child(1) {
    border-left: 2px solid #43F4EE;
}

.bronItem table.dataTable tbody tr.status_cancellation td:nth-child(1) {
    border-left: 2px solid #9AA0AC;
}

.bronItem table.dataTable thead th {
    padding: 10px 24px;
}

.bronItem table.dataTable tbody td {
    padding: 27px 24px 25px 24px;
}

.jv_table_icon_btns {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jv_table_icon_btns .custom-switch {
    margin-right: auto;
}

.bronItem table.dataTable tbody td .jv_table_icon_btns a:nth-child(1) {
    margin-right: 22px;
}

.bronItem table.dataTable tbody td .jv_table_icon_btns svg {
    color: #9AA0AC;
}

.bronItem table.dataTable tbody td .jv_table_icon_btns svg:hover {
    color: #F4438A;
}

.bronItem table.dataTable tbody td .jv_table_icon_btns img {
    max-width: 62px;
}

.jv_select .selectize-input.items.has-options.full.has-items:after {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='%2300236D' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E") center / 8px 10px no-repeat #fff;
}

.jv_select .option:hover,
.jv_select .option.active,
.jv_select .option.selected {
    background: #00236D;
    color: #43F4EE;
}

.jv_select .selectize-input.focus {
    box-shadow: none;
    background: #fff;
}

.jv_form_group .input-icon-addon svg {
    width: 20px;
}

.jv_form_group .form-control:focus {
    border-color: #00236D;
}

.paginate_button.previous.disabled,
.paginate_button.next.disabled {
    color: #9AA0AC !important;
}

.bronItem .dataTables_wrapper .dataTables_paginate .paginate_button.next,
.bronItem .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    border: 1px solid #D4E2F5 !important;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px 12px 9px 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #00236D;
    font-family: Manrope3-Medium;
    font-weight: normal;
}

.bronItem .dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #D4E2F5 !important;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 14px;
    line-height: 19px;
    font-family: Manrope3-Medium;
    font-size: 14px;
    line-height: 19px;
    color: #00236D;
    font-weight: normal;

}

.bronItem .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #fff;
    border: 1px solid #00236D !important;
}

.bronItem .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #00236D !important;
    background: transparent;
    color: #00236D !important;
}

.bronItem #DataTables_Table_0_info {
    display: none;
}

.bronItem .dataTables_wrapper .dataTables_paginate {
    float: left;
}

.jv_status_info {
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 40px;
}

.jv_status_info li {
    margin-right: 30px;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #9AA0AC;
}

.jv_status_info li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 3px solid #72F7F2;
    border-radius: 50%;

}

.jv_status_info li:nth-child(2)::before {
    border-color: #F4438A;
}

.jv_status_info li:nth-child(3)::before {
    border-color: #9AA0AC;
}

.jv_status_info li:last-child {
    margin-right: 0;
}

.bronItem .table-responsive {
    position: relative;
}

.bronItem .dataTables_wrapper .dataTables_paginate {
    margin: 30px 1.5rem;
}

.jv_menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .bottom-block .container .row .jv_menu_list a:last-child {
    padding-right: 0;
}

.jv_menu_list .arrow {
    display: none;
}

.daterangepicker .drp-buttons .btn.add-list-btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Manrope3-Medium";
    border-radius: 5px;
    padding: 0px !important;
}

.daterangepicker .drp-buttons .btn.add-list-btn:disabled {
    opacity: 0;
}

.selectize-dropdown .optgroup-header,
.selectize-dropdown [data-selectable] {
    padding: 8px .75rem;
}

section .container .row form .white-block .list-block li.item .left-block svg, section .container .row .form .white-block .list-block li.item .left-block svg {
    width: 20px;
}

/* responsive */
@media (max-width: 1280px) {
    header .bottom-block .container .row .jv_menu_list a {
        padding-right: 0;
    }

    .jv_menu_list {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    .bronItem .datatable {
        width: 960px;
    }

    .jv_content_head .jv_form_group {
        width: 49%;
        margin-bottom: 15px;
    }

    .jv_content_head {
        flex-wrap: wrap;
    }

    .jv_status_info {
        position: relative;
        flex-direction: column;
        bottom: unset;
        right: unset;
        padding-left: 30px;
    }

    .jv_status_info li {
        margin-bottom: 15px;
    }

    .bronItem .dataTables_wrapper .dataTables_paginate {
        margin-left: 15px;
        margin-right: 15px;
    }

    .daterangepicker .drp-calendar {
        width: 100%;
    }

    .daterangepicker .drp-calendar.left tr:nth-child(1) th {
        text-align: center;
    }

    .daterangepicker .drp-calendar.right {
        display: none;
    }

    .daterangepicker.show-calendar .drp-buttons {
        position: relative;
        top: unset;
        right: unset;
        border: none;
        text-align: left;
    }

    .daterangepicker .calendar-table td {
        width: 46px;
        height: 46px;
        font-size: 16px;
        line-height: 22px;
    }

    .daterangepicker .calendar-table th {
        font-size: 12px;
    }

    .daterangepicker .calendar-table thead tr:nth-child(1) th {
        height: 60px;
    }

    section .container .row form .bronItem.open, section .container .row .form .bronItem.open {
        min-height: 515px;
    }

    .jv_menu_list {
        width: 100%;
    }
}

@media (max-width: 767px) {
    section .container .row form .white-block .list-block.bron_list .item_head, section .container .row .form .white-block .list-block.bron_list .item_head {
        display: none;
    }

    section .container .row form .white-block .list-block.bron_list li.item, section .container .row .form .white-block .list-block.bron_list li.item {
        padding: 20px;
    }

    section .container .row form .white-block .list-block.bron_list .item .left-block, section .container .row .form .white-block .list-block.bron_list .item .left-block {
    }

    .jv_content_head .jv_form_group {
        width: 100%;
    }

    section .container .row form .white-block .head svg, section .container .row .form .white-block .head svg {
        width: 18px;
        height: 18px;
    }

    header .bottom-block .container .row .jv_menu_list {
        flex-wrap: wrap;
    }

    header .bottom-block .container .row .jv_menu_list a {
        width: 100%;
        display: flex;
    }

    header .bottom-block {
        background: transparent;
    }

    header.second .bottom-block .container .row .dropdown,
    header.second .bottom-block .container .row .dropdown a.name {
        display: flex;
        width: 100%;
        box-shadow: none;
    }

    header.second .bottom-block .container .row a {
        padding: 14px 20px;
        font-size: 15px;
        background: #fff;
    }

    header .bottom-block .container .row a svg {
        width: 18px;
        height: auto;
    }

    header.second .bottom-block .container .row .dropdown a.name .arrow {
        margin-left: auto;
    }

    header.second .bottom-block .container .row .dropdown a {
        margin-bottom: 5px;
    }

    header.second .bottom-block .container .row a.active {
    }

    .jv_menu_list {
        position: relative;
        background: #fff;
    }

    .jv_menu_list .arrow {
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
        transform: rotate(180deg);
        transition: 0.2s;
    }

    .jv_menu_list.open .arrow {
        transform: rotate(0deg);
    }

    header.second .bottom-block .container .row .jv_menu_list a.active {
        display: block;
    }

    header.second .bottom-block .container .row .jv_menu_list a {
        display: none;
    }

    header.second .bottom-block .container .row .jv_menu_list.open a {
        display: block;
    }

    header.second .bottom-block .container .row .jv_menu_list.open a.active {
        background: #E8EFFF;
        color: #00236D;
    }

    header.second .bottom-block .container .row .jv_menu_list a {
        background: transparent;
    }

    header.second .bottom-block .container .row .dropdown .dropdown-block {
        top: 50px;
        width: 100%;
        box-shadow: none;
    }

    section {
        padding-top: 10px;
    }

    header.second .bottom-block .container .row .dropdown {
        z-index: 1;
    }

    .user.open .dropdown-block {
        top: 85px;
    }

    .user {
        position: static;
    }

    .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
        zoom: .6;
    }

}

@media (max-width: 600px) {
    .jv_hotel_create_page .object-block .item {
        height: calc(100vw / 2 - 30px);
        max-height: calc(100vw / 2 - 30px);
        min-height: calc(100vw / 2 - 30px);
        border-radius: 10px;
        overflow: hidden;
    }

    section .container .row form .white-block .content .object-block .item:nth-child(3), section .container .row .form .white-block .content .object-block .item:nth-child(3),
    section .container .row form .white-block .content .object-block .item:last-child, section .container .row .form .white-block .content .object-block .item:last-child {
        margin-bottom: 0;
    }

    .jv_map_register {
        padding-bottom: 0 !important;
    }

    section .container .row form .white-block .accordion-content .head-accordion.jv_accordion_head, section .container .row .form .white-block .accordion-content .head-accordion.jv_accordion_head {
        border-bottom: none !important;
    }

    .card-header-after p.jv_file_uploader_text {
        margin-bottom: 30px;
        margin-top: 30px;
        padding-top: 0 !important;
    }

    .jFiler-items ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .jFiler-items ul li {
        width: calc(100% / 2 - 10px);
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cloneGalleryAddElement, .galleryAddElement {
        margin-top: 30px;
        margin-bottom: 0;
    }

    #personNumberPriceBlock input {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #personNumberPriceBlock .input.half:last-child .half-block.mobile-mb-30 {
        margin-bottom: 0;
    }

    #numeration_enabled {
        margin-bottom: 0;
    }

    #internalNumberBlock .numeration {
        margin-top: 30px;
    }

    #btnAddBads {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #btnAddBads span {
        display: block;
    }

    #badsBlock .input-block.with-trash {
        margin-bottom: 20px;
    }

    section .container .row form .white-block .list-block, section .container .row .form .white-block .list-block {
        background: #f0f3f8;
    }

    section .container .row form .white-block .list-block li.item, section .container .row .form .white-block .list-block li.item {
        background: #fff;
        margin-bottom: 5px;
    }

    section .container .row form .white-block .list-block li.item .fe, section .container .row .form .white-block .list-block li.item .fe {
        font-size: 18px;
    }

    .jv_dashboard_section {
        padding-top: 0;
    }

    .jv_dashboard_section .container .row form .white-block .list-block .add-list-btn, .jv_dashboard_section .container .row .form .white-block .list-block .add-list-btn {
        margin: 20px;
    }

    .jv_dashboard_section .blue-title {
        font-size: 18px;
    }

    .jv_dashboard_section .container .row form .white-block .list-block li.item .right-block .icon, .jv_dashboard_section .container .row .form .white-block .list-block li.item .right-block .icon {
        margin-right: 20px;
    }

    .add-list-btn i.fe {
        font-size: 18px;
    }

    header .bottom-block {
        box-shadow: none;
    }

    header.second .bottom-block .container .row .dropdown.show > a {
        color: #F4438A;
    }

    header.second .bottom-block .container .row .jv_menu_list a.active {
        display: block;
        color: #00236D;
    }

    header.second .bottom-block .container .row .jv_menu_list.open a.active {
        /* background: #E8EFFF; */
        /* color: #00236D; */
        background: #fff;
        color: #F4438A;
        order: -1;
    }

    header.second .bottom-block .container .row .jv_menu_list.open a:active {
        background: #E8EFFF;
        color: #00236D;
    }

    header.second .bottom-block .container .row .jv_menu_list a.active {
        display: block;
        color: #00236D;
    }

    section {
        padding-top: 5px;
    }

    .jv_form_group:last-child {
        margin-bottom: 0;
    }

    .daterangepicker .drp-buttons .btn {
        margin-left: 0;
    }

    section .container .row form .white-block .list-block li.item .left-block svg, section .container .row .form .white-block .list-block li.item .left-block svg {
        width: 18px;
    }

    .list-block.partner .item {
        max-height: 168px;
    }

    section .container .row form .white-block .list-block li.item, section .container .row .form .white-block .list-block li.item {
        padding: 20px;
        background: #fff;
    }

    section .container .row form .white-block .content.list .list-block li.item .email, section .container .row .form .white-block .content.list .list-block li.item .email {
        text-align: left;
    }

    section .container .row form .white-block .list-block.bron_list .item .middle-block, section .container .row .form .white-block .list-block.bron_list .item .middle-block {
        margin-top: 20px;
    }

    .mobile-mb-5 {
        margin-bottom: 5px !important;
    }
}

/* responsive-end */
