.main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}
.title-divider{
    margin-top: 30px;
}

.main-all {
    background: $second-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;
    color: $main-color;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    img{
        margin-left: 20px;
    }
}

.red {
    fill: #ff0000;
}

.green-button {
    background: #46B22B;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 7px 30px;
    border: none;
    outline: none;
}

.content-title {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.white-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.big-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 18px;
}

.full-width{
    width: 100%;
}
