.auth {
    width: 100%;
    max-width: 370px;
    background: #F2F3F7;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    &-wrap{
        height: 80vh;
        min-height: 400px;
    }
    .phone{
        margin-top: 10px;
        background: white;
        border-radius: 5px;
        .left{
            border-right: 1px solid #efefef;
            padding: 8px;
            img{
                vertical-align: middle;
            }
        }
        input{
            flex: 1;
            background: white;
            border: none;
            padding: 8px;
        }
    }
    .rights{
        margin-top: 10px;
        display: block;
        color: #858585;
    }
    .btn{
        margin-top: 10px;
        background: $second-color;
        color: $main-color;
        width: 100%;
        display: block;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
    }
}
.main-color{
    color: $main-color;
}
