.section-chart{
    margin-top: 25px;
    &-top{
        display: flex;
        min-height: 600px;
        &__company,&__chart{
            display: flex;
            flex-direction: column;
            padding: 18px;
        }
        &__company{
            flex: 4;
            justify-content: space-evenly;
            align-items: center;

            &--logo{
                width: 200px;
                height: 200px;
                background: url('/img/logo-company.svg') no-repeat center;
                background-size: cover;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                border-radius: 100%;
            }
            &--info{
                width: 100%;
                &_wrapper{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 23px;
                }
                &_left,&_right{
                    font-size: 14px;
                }
                &_left{
                    color: #B4B4B4;
                }
            }
        }
        &__chart{
            flex: 8;
            margin-left: 18px;
            &--title{
                margin-bottom: 40px;
            }
            & canvas{
                width: 100%;
                max-width: 940px;
            }
        }

    }
    &-middle{
        margin-top: 18px;
        margin-bottom: 18px;
        &__category{
            min-height: 60px;
            margin-bottom: 18px;
            display: flex;
            position: relative;
            &--li{
                display: none;
                width: 120px;
                margin-left: 20px;
                background: transparent;
                padding: 0 !important;
                position: relative;
                & > a{
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    color: #ffffff;
                    background: $dark-blue;
                    font-weight: bold;
                    padding: 20px 10px;
                }
                & img{
                    position: absolute;
                    right: -30px;
                    top: 50%;
                    transform: translate(0,-50%);
                }
            }
            &--hiddenlist{
                display: none;
                position: absolute;
                min-height: 300px;
                margin-top: 65px;
                margin-left: 20px;
                width: 120px;
                align-items: center;
                flex-direction: column;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                &-drops{
                    display: flex;
                    flex-direction: column !important;
                    justify-content: space-evenly !important;
                    margin-left: 0 !important;
                    width: 100%;
                    height: 100%;
                    & li{
                        width: 100%;
                        padding: 20px 10px !important;
                        & a{
                            color: #9C9C9C;

                        }
                    }
                }
            }
            & .active{
                display: block !important;
            }
            &--visible{
                display: flex;
                margin-left: 35px;
                & li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & a{
                        height: 100%;
                        color: #9C9C9C;
                        font-size: 18px;
                        padding: 20px 10px;
                    }
                    & .active{
                        background: $dark-blue;
                        color: #ffffff!important;
                        font-weight: bold;
                    }
                }
            }
            &--hidden{
                display: none;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                &_item{
                    padding: 10px;
                    background: #46B22B;
                    border-radius: 11px 10px 10px 10px;
                    & img{
                        vertical-align: middle;
                    }
                }

            }
            &--adding{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 25px;
                font-size: 18px;
                font-weight: bold;
                color: #46B22B;
            }
        }
        &__product{
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            &--item{
                display: flex;
                flex-direction: row !important;
                flex-grow: 1;
                justify-content: space-around;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
                &_img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    flex: 0.5;
                    &-photo{
                        width: 60px !important;
                        height: 60px !important;
                    }
                }
                &_name{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex: 3;
                    &-title{
                        font-size: 14px !important;
                    }
                    &-subtitle{
                        font-size: 12px !important;
                    }
                }
                &_rating{
                    flex: 2;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    &-span{
                        display: flex;
                        align-items: center;
                        font-weight: normal !important;
                    }
                    &-text{
                        display: flex;
                        align-self: center;
                        justify-content: space-between;
                        flex: 1;
                        & span{
                            font-size: 14px !important;
                            font-weight: bold;
                        }

                    }
                    &-stars{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                &_cost{
                    flex: 2;
                    display: flex;
                    justify-content: space-evenly;
                    &-stock{
                        & span{
                            padding: 1px 5px;
                            background: #46B32B;
                            color: #fff;
                            font-weight: bold;
                            font-size: 14px;
                            border-radius: 10px;
                        }

                    }
                    &-money{
                        & span{
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                }
                &_edit{
                    flex: 1;
                    &-wrapper{
                        display: flex;
                        justify-content: center;
                    }
                    &-green{
                        background: #46B32B !important;
                        margin-left: 20px;
                    }
                }
            }
            &--link{
                display: flex;
                justify-content: center;
                padding: 30px 0;
                & a{
                    font-weight: bold;
                    font-size: 18px;
                    color: #fff;
                    background: #46B32B;
                    padding: 6px 30px;
                    border-radius: 10px;
                }
            }
        }
    }
    &-bottom{
        &__wrapper{
            display: flex;
            align-items: center;


        }
        &__links{
            display: flex;
            align-items: center;
            margin-left: 45px;
            height: 100% !important;
            & .active{
                font-weight: bold;
            }
            & a{
                display: flex;
                font-size: 18px;
                padding: 20px 15px;
            }
        }
    }
}
