.description-item {
    margin-top: 24px;

    &-wrapper {
        display: flex;
        min-height: 455px;
    }

    &__hideform {
        display: none !important;
    }

    &-img {
        display: flex;
        flex: 6;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;

        &__main {
            background-size: cover;
            max-width: 100%;
            flex: 7;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            & img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
            }
        }

        &__litle {
            display: flex;
            flex-direction: column;
            flex: 3;

            &--item {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-size: cover;
                margin-left: 18px;

                & img {
                    width: 100px;
                    height: 100px;
                }

                &:not(:first-child) {
                    margin-top: 18px;
                }
            }
        }
    }

    &-text {
        display: flex;
        height: 100%;
        margin-left: 18px;
        flex-direction: column;
        flex: 8;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 100%;
            height: 120px;
            background: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            &--name {
                display: flex;
                justify-content: flex-start;
                margin-left: 20px;

                & div {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                }

                &_second {
                    display: flex;
                    font-weight: normal;
                    align-self: flex-start;
                    font-size: 14px;
                    margin-left: 0;
                    margin-top: 10px;
                }
            }

            &--guarantee {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                justify-content: space-between;

                &_top,
                &_bottom {
                    display: flex;
                    flex-direction: row;
                }

                &_bottom {
                    margin-top: 10px;
                }

                &_text {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }

                &_tag {
                    & img {
                        vertical-align: middle;
                    }

                    font-weight: bold;
                    font-size: 10px;
                }

                &_label {
                    padding: 4px;
                    border: 1px solid $main-color;
                    border-radius: 3px;
                    background: $white;
                    color: #858585;
                }
            }
        }

        &__bottom {
            display: flex;
            min-height: 335px;

            &--left {
                flex-direction: column;
                min-height: 100px;
                align-items: center;
                position: relative;
                padding: 20px;
                background: #ffffff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin-top: 18px;
                flex: 6;

                &-table {
                    width: 100%;
                    height: 100%;

                    & thead {
                        & tr {
                            & th {
                                font-size: 14px;
                                text-align: center !important;
                                border-bottom: 1px solid #EFEFF2 !important;
                                border-right: 1px solid #EFEFF2 !important;
                                padding-bottom: 10px;
                                padding: 0 0 10px 4px;

                                &:last-child {
                                    border-right: none !important;
                                }

                                &:first-child {
                                    padding: 0 5px 10px 0 !important;
                                }
                            }
                        }
                    }

                    & tbody {
                        & tr {
                            & td {
                                font-size: 12px;
                                text-align: center;
                                padding: 5px 6px 5px 3px;
                                border-right: 1px solid #EFEFF2 !important;

                                &:last-child {
                                    border-right: none !important;
                                }
                            }
                        }
                    }
                }
            }

            &--right {
                margin-left: 18px;
                display: flex;
                flex: 7;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 18px;

                &_wrapper {
                    width: 100%;
                    height: 85%;
                    padding: 18px;
                    margin-bottom: 18px;
                }

                &_wl {
                    position: relative;
                    flex: 8;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -10%;
                        top: 0%;
                        left: 0;
                        width: 1px;
                        height: 112%;
                        background: #efeff2;
                    }
                }

                &_top {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;

                    &-top {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 1px solid #efeff2;
                        padding-bottom: 15px;
                        width: 100%;
                        min-height: 150px;
                    }

                    &-bottom {
                        width: 100%;
                        padding-top: 10px;
                    }

                    &-cost {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;

                        &__title {
                            font-weight: bold;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                        }

                        &__money {
                            display: flex;
                            align-items: center;
                            text-align: right;
                            font-size: 14px;
                        }
                    }

                    &-stock {
                        margin-bottom: 10px;
                        border-bottom: 1px solid #efeff2;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 7px;

                        &__title {
                            font-weight: bold;
                            font-size: 14px;
                            display: flex;
                            align-items: center;

                            &--tag {
                                margin-left: 5px;
                                font-weight: bold;
                                font-size: 10px;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                background: $main-color;
                                border-radius: 10px;
                                padding: 1px 3px 1px 4px;
                                color: #fff;
                            }
                        }

                        &__money {
                            font-size: 14px;
                            color: #dc5252;
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }
                    }

                    &-total {
                        display: flex;
                        justify-content: space-between;

                        &__title {
                            font-weight: bold;
                            font-size: 14px;
                            color: $main-color;
                            display: flex;
                            align-items: center;

                            &--tag {
                                margin-left: 5px;
                            }
                        }

                        &__money {
                            font-size: 14px;
                            color: $main-color;
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }
                    }
                }

                &_quantity {
                    display: flex;
                    flex: 4;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    max-width: 260px;
                    padding-right: 15px;
                    font-weight: bold;

                    &-title {
                        font-weight: bold;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    &-navs {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        input {
                            width: 50px;
                            //border: none;
                            outline: none;
                            text-align: center;
                        }

                        & button {
                            display: inline-block;
                            cursor: pointer;
                            text-align: center;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #c2c2c2;
                            border-radius: 4px;
                            background: transparent;
                            outline: none;
                            line-height: 20px;

                            & img {
                                display: block;
                                width: 12px;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                &_size {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    align-items: center;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: 10px;

                    &-navs {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        &__radio {
                            position: relative;

                            & label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                padding: 3px;
                                min-height: 20px;
                                cursor: pointer;
                                font-size: 14px;
                                color: #c2c2c2;
                                border: 1px solid #c2c2c2;
                                border-radius: 4px;
                                text-align: center;

                                &:not(:first-child) {
                                    margin-left: 10px;
                                }
                            }

                            & input {
                                display: none;
                            }

                            & input:checked + label {
                                font-weight: bold;
                                background: $second-color;
                                color: #fff;
                            }
                        }
                    }
                }

                &_color {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;

                    &-navs {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        &__radio {
                            & input {
                                display: none;
                            }

                            & input:checked + label::before {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 100%;
                                border: 3px solid #b0c6ff;
                                border-radius: 4px;
                            }

                            & input:checked + label::after {
                                position: absolute;
                                content: "";
                                display: flex;
                                justify-content: flex-end;
                                align-items: flex-end;
                                width: 0;
                                height: 0;
                                bottom: 0;
                                right: 0;
                                border-bottom: 16px solid #b0c6ff;
                                border-left: 16px solid transparent;
                            }

                            & input:checked + label span {
                                position: absolute;
                                content: "";
                                bottom: -2px;
                                right: 1px;
                                z-index: 1;
                                display: block !important;
                            }

                            &:not(:first-child) label {
                                margin-left: 15px;
                            }

                            & label {
                                width: 40px;
                                height: 40px;
                                position: relative;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 2px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                & span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &_bottom {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    background: #ffffff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    margin-bottom: 18px;
                    padding: 20px;
                }

                &_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    & button {
                        display: flex;
                        align-items: center;
                        text-align: right;
                        justify-content: center;
                        outline: none;
                        border: none;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;
                        color: $main-color;
                        background: #2D2D2D;
                        border-radius: 10px;
                        padding: 9px 10px;
                        width: 100%;
                        min-width: 250px;
                    }
                }
            }

            &--hidden {
                padding: 10px 18px 10px 18px;
                position: relative;
                display: none;
                border-top: 1px solid #efeff2;

                &_title {
                    & a {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        font-weight: bold;
                        font-size: 14px;
                        align-items: center;
                    }
                }

                &_title:hover + &_dropdown {
                    display: block !important;
                }

                &_dropdown {
                    margin-top: 20px;
                    padding: 20px 18px;
                    display: none;
                }
            }
        }
    }
}

.product-informations {
    &-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #efeff2;
        overflow-x: scroll;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        &__links {
            margin-left: 50px !important;

            & a {
                font-weight: bold;
                font-size: 18px !important;
            }
        }

        &__right {
            padding-right: 40px;
            margin-left: 20px;

            & a {
                font-size: 18px;
                color: #dc5252;
            }
        }
    }

    &-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 30px;
    }

    &-middle {
        display: flex;
        flex-direction: column;
        padding: 24px;

        &__info {
            display: flex;

            &--wrapper {
                flex: 1;

                &:not(:last-child) {
                    padding-left: 30px;
                }
            }

            &--item {
                display: flex;
                width: 80%;

                &:not(:first-child) {
                    margin-top: 5px;
                }

                &_left,
                &_right {
                    font-size: 18px;
                    width: 50%;
                }

                &_right {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }

    &-bottom {
        padding: 24px;
        margin-bottom: 10px;

        &-text {
            padding-left: 30px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    &-company {
        //display: flex;
        margin-top: 18px;

        &__left {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__right {
            width: 100%;
            max-width: 900px;
            display: inline-block;

            &--top {
                display: flex;
                justify-content: center;

                &_table {
                    display: flex;
                    width: 515px;

                    &-top {
                        font-weight: bold;
                        padding: 0 5px;
                    }

                    &-last {
                        & > div {
                            border-right: none !important;
                        }
                    }

                    & > div {
                        display: table-cell;
                        text-align: center;
                        width: 100%;

                        & > div {
                            display: flex;
                            border-bottom: 1px solid #efeff2;
                            border-right: 1px solid #efeff2;
                            height: 60px;
                            font-size: 16px;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            &--bottom {
                display: flex;
                align-items: center;
                margin-top: 23px;

                &_left,
                &_right {
                    font-size: 18px;
                }

                &_left {
                    font-weight: bold;
                }

                &_right {
                    margin-left: 20px;
                }
            }
        }
    }
}

.hidden-item {
    margin-top: 24px;
    display: none;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 120px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &::after {
            position: absolute;
            content: "";
            background: url("/img/bg-gold.svg") no-repeat center;
        }

        &-name {
            display: flex;
            justify-content: flex-start;

            & div {
                font-weight: bold;
                font-size: 24px;
                flex-direction: column;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }

            &__second {
                font-size: 18px;
                font-weight: normal;
                margin-left: 0;
                display: flex;
                align-self: flex-start;
                margin-bottom: 5px;
                margin-top: 15px;
            }
        }

        &-rating {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-between;

            &__text {
                font-weight: bold;
                font-size: 24px;
                margin-right: 0;
                align-self: flex-end;
                display: flex;
                align-items: flex-end;

                & span {
                    font-weight: normal;
                }
            }

            &__stars {
                display: flex;
                flex-direction: row-reverse;

                &--second {
                    display: flex;

                    & span {
                        font-size: 18px;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }

                & a {
                    text-decoration-line: underline;
                    color: $dark-blue;
                }
            }
        }
    }
}

.description-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.info-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;

    &__title {
        font-weight: bold;

        &:nth-child(1) {
            margin-bottom: 20px;
        }

        &:nth-child(2) {
            margin-bottom: 0;
        }
    }

    &__text {
        margin-bottom: 20px;
    }
}

.product-slider {
    //margin: auto auto;
    //overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}

.product-title {
    border-bottom: 1px solid #F2F3F7;
    height: 80px;
    display: flex;
    align-items: center;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-weight: 600;
        font-size: 18px;
        padding: 0 40px;
        background: $second-color;
        color: $main-color;
        cursor: pointer;
        transition: .2s all ease-out;

        &:hover {
            background: $main-color;
            color: $second-color;
        }
    }

    .active {
        background: $main-color;
        color: $second-color;
    }
}

.product-informations-middle__info {
    width: 95%;
    margin: 50px auto 0;

    .information {
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:first-child {
            margin-right: 40px;
        }

        .block {
            font-size: 18px;
            margin-bottom: 10px;

            .info {
                margin-left: 20px;
                flex: 3;
                height: 30px;
                line-height: 30px;
                font-weight: 600;
                text-align: center;
                background: #F2F3F7;
            }
        }
    }
}
