
.main-section {
    &-wrapper {
        display: flex;
    }

    &-total-sums {
        display: flex;
        flex: 3;
        flex-direction: column;
        margin-left: 18px;

        &-title {
            display: flex;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 25px 10px 25px 30px;
            width: 100%;
            height: 80px;
            margin-top: 24px;

            &__name {
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 24px;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 100%;
            height: 240px;
            margin-top: 24px;

            &__top {
                display: flex;
                flex: 1;
                justify-content: space-around;
                align-items: center;
                min-height: 110px;
                font-size: 14px;
                width: 100%;
                border-bottom: 1px solid #efeff2;

                &--left {
                    &_item {
                        &:not(:first-child) {
                            margin-top: 20px;
                        }
                    }
                }

                &--right {
                    &_item {
                        text-align: right;

                        &:not(:first-child) {
                            margin-top: 20px;
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 50%;

                &--pay {
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;
                    display: flex;
                    font-weight: bold;
                    font-size: 14px;

                    &_right {
                        color: #46b22b;
                    }
                }

                &_btn {
                    & button {
                        display: flex;
                        align-items: center;
                        border: none;
                        outline: none;
                        text-align: center;
                        font-weight: bold;
                        font-size: 18px;
                        padding: 7px 44px;
                        background: $main-color;
                        border-radius: 10px;
                        color: $second-color;
                    }
                }
            }
        }
    }

    &-process {
        display: flex;
        flex-direction: column;
        flex: 8;

        &-title {
            display: flex;
            align-items: center;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 18px;
            width: 100%;
            height: 80px;
            margin-top: 24px;

            &__name {
                display: flex;
                margin-left: 35px;
                align-items: center;

                &--title {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    margin-left: 18px;
                    font-weight: bold;
                }

                &--img {
                    display: flex;
                    align-items: center;
                }
            }

            &__count {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #8c8b8b;
            }
        }

        &-action {
            display: flex;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 18px;
        }
    }
}

.current {
    display: flex;
    position: relative;
    min-height: 150px;
    align-items: flex-start;
    padding: 18px;
    flex-wrap: wrap;
    .basket-choice {
        flex: 1;
        min-width: 200px;

        &:first-child {
            margin-right: 30px;
        }
    }

    .custom-select {
        background: $main-color;
        color: $second-color;
        border: none;
        border-radius: 5px;
        min-height: 30px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #efeff2;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .radio {
        position: relative;
    }

    .radio input {
        opacity: 0;
        position: absolute;
        z-index: 1;
    }

    .radio label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 26px;
        height: 26px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #000000;
        border-radius: 50%;
        background-color: $second-color;
        transition: 0.2s all ease-out;
    }

    .radio input:checked + label::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #000000;
        border-radius: 50%;
        background-color: $second-color;
        transition: 0.2s all ease-out;
    }

    .radio input:checked + label::after {
        background-color: #6c95ff;
    }

    &__adress {
        display: flex;
        justify-content: flex-start;

        label {
            cursor: pointer;
        }

        &--checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            margin-left: 20px;
        }

        &--top {
            margin-left: 20px;
            margin-bottom: 30px;

            &_title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                margin-top: 20px;
                display: flex;
                align-items: center;
            }

            &_subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                color: #8c8b8b;
            }

            &_links {
                margin-top: 15px;
                display: flex;
                align-items: center;

                & button {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: #6c95ff;
                    border: none;
                    outline: none;
                    background: transparent;

                    &:nth-child(2) {
                        margin-left: 20px;
                        color: #dc5252;
                    }
                }
            }
        }

        &--bottom {
            display: flex;
            min-height: 80px;
            align-items: center;
            margin-left: 70px;

            & a {
                font-weight: bold;
                font-size: 18px;
                padding: 7px 13px 7px 11px;
                display: flex;
                align-items: center;
                background: #46b22b;
                border-radius: 10px;
                color: $second-color;
            }
        }
    }
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        &:not(:last-child) {
            &::before {
                position: absolute;
                content: "";
                height: 1px;
                width: 120%;
                background: #efeff2;
                left: -10%;
                right: -10%;
                bottom: 0;
            }
        }

        & label {
            position: relative;
            cursor: pointer;
            margin-left: 18px;

            &::before {
                position: absolute;
                content: "";
                display: inline-block;
                width: 22px;
                height: 22px;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid #000000;
                border-radius: 50%;
                background-color: $second-color;
                transition: 0.2s all ease-out;
            }
        }

        & input {
            display: none;
        }

        label::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 14px;
            height: 14px;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #000000;
            border-radius: 50%;
            background-color: $second-color;
            transition: 0.2s all ease-out;
        }

        input:checked + label::after {
            background-color: #6c95ff;
        }

        input:checked + label {
            opacity: 1 !important;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 0px 0px 25px;
        justify-content: space-around;
        opacity: 0.3;
        min-height: 130px;

        &__remove {
            &--link {
                & button {
                    display: flex;
                    align-items: center;
                    padding: 11px;
                    background: #dc5252;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                }
            }
        }

        &__radiobtn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("/img/little-product.png") no-repeat 50% 50%;
            background-size: cover;
            width: 80px;
            height: 80px;
        }

        &__description {
            display: flex;
            width: 73%;
            align-items: center;
            justify-content: space-evenly;

            &--info {
                display: flex;
                flex-direction: column;
                flex: 2;

                .item-info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    &__top {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        &--title {
                            font-weight: bold;
                            font-size: 14px;
                            margin-bottom: 10px;
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }

                        &--subtitle {
                            display: flex;
                            align-items: center;
                            text-align: right;
                            font-size: 12px;
                            margin-top: 4px;
                            margin-bottom: 14px;
                        }
                    }

                    &__bottom {
                        display: flex;
                        width: 100%;

                        &--img {
                            display: flex;
                        }

                        &--cost {
                            font-weight: bold;
                            font-size: 15px;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }
                    }
                }
            }

            &--descript {
                display: flex;
                flex: 2;
                flex-direction: column;
                padding: 5px;
                font-weight: bold;
                font-size: 12px;
                margin-left: 20px;

                &_title {
                    margin-bottom: 10px;
                }

                &_text {
                    display: flex;
                    align-content: flex-start;
                    font-weight: normal;
                }
            }

            &--countity {
                display: flex;
                flex: 1;
                justify-content: center;

                &_quantity {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-navs {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;

                        & button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 14px;
                            font-weight: bold;
                            height: 14px;
                            border: 1px solid #000000;
                            border-radius: 100%;
                            background: transparent;
                        }
                    }

                    &-title {
                        font-weight: bold;
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //min-height: 440px;
    &-top {
        display: flex;
        height: 80px;
        border-bottom: 1px solid #efeff2;
        padding: 10px 0;

        & input {
            display: none;
        }

        & input:checked + label {
            background: $main-color;
            color: $second-color;
        }

        & label {
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            transition: 0.3s all ease-out;
            padding: 10px 14px;
            border-radius: 5px;
            margin-left: 10px;

            &:hover {
                background: $main-color;
                color: $second-color;
            }

            display: flex;
            align-items: center;
        }
    }

    &-middle {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 35px;
        padding: 0px 20px 0px 20px;

        & input {
            display: none !important;
        }

        & input:checked + label {
            background: $main-color;
            color: $second-color;
        }

        &__cards {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 11px;
            border-radius: 10px;
            transition: 0.3s all ease-out;
            cursor: pointer;

            &:hover {
                color: $second-color;
                background: $main-color;
            }

            &--name {
                margin-top: 7px;
            }
        }

        & .active {
            background: $main-color;
            color: $second-color;
        }
    }

    &-bottom {
        margin-bottom: 55px;
        display: flex;
        margin-top: 30px;
        align-items: center;
        padding: 0 10px 0 30px;
        justify-content: center;

        &__text {
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 18px;
            color: #8c8b8b;
        }
    }
}

/**
 * selectize.css (v0.12.6)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    -webkit-box-shadow: inset 0 0 12px 4px #fff;
    box-shadow: inset 0 0 12px 4px #fff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-dropdown-header {
    position: relative;
    padding: 5px 8px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #303030;
    opacity: 0.4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important;
}

.selectize-dropdown-header-close:hover {
    color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 0 0 0;
    border-left: 1px solid #d0d0d0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: #cacaca;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: $second-color;
}

.selectize-control.plugin-remove_button .remove-single {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 23px;
}

.selectize-control {
    position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: #fff;
    cursor: text;
    display: inline-block;
}

.selectize-input {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 6px 8px 3px;
}

.selectize-input.full {
    background-color: #fff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default !important;
}

.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #f2f2f2;
    color: #303030;
    border: 0 solid #d0d0d0;
}

.selectize-control.multi .selectize-input > div.active {
    background: #e8e8e8;
    color: #303030;
    border: 0 solid #cacaca;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
    color: #7d7d7d;
    background: #ffffff;
    border: 0 solid #ffffff;
}

.selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.selectize-input > input::-ms-clear {
    display: none;
}

.selectize-input > input:focus {
    outline: none !important;
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #f0f0f0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #fff;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(125, 168, 208, 0.2);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
    padding: 5px 8px;
}

.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
    cursor: inherit;
    opacity: 0.5;
}

.selectize-dropdown [data-selectable].option {
    opacity: 1;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
    color: #303030;
    background: #fff;
    cursor: default;
}

.selectize-dropdown .active {
    background-color: #f5fafd;
    color: #495c68;
}

.selectize-dropdown .active.create {
    color: #495c68;
}

.selectize-dropdown .create {
    color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    -webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #808080 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #808080 transparent;
}

.selectize-control.rtl.single .selectize-input:after {
    left: 15px;
    right: auto;
}

.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #fafafa;
}

.select-countries {
    width: 200px;
    margin-top: 10px;
}
