.collections-wrap {
    background: url("/img/exclusive.svg") center repeat-x;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 30px;
}

.top-sale {
    background: url("/img/top.svg") center repeat-x;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 30px;
}

.section-product {
    position: relative;

    .collections__all {
        .collections {
            border-top: none !important;
        }
    }

    &-wrapper {
        .collections {

            .product {
                box-shadow: none;
                border-radius: 0;
                border-left: 1px solid #BEBEBE;
            }

            &-inner {
                flex: 1;
                height: 310px;
                border-radius: 10px 0 0 10px;
                padding: 30px;
                background-image: url("/img/collect.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                color: $white;

                .title {
                    font-weight: 600;
                    font-size: 24px;
                }

                .description {
                    margin-top: 15px;
                    font-size: 18px;
                    line-height: 23px;
                    max-width: 310px;
                }

                .btn {
                    margin-top: 30px;
                    display: inline-block;
                    background: white;
                    color: $second-color;
                    border-radius: 20px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;

                }
            }
        }

    }
}

.main-card, .big-card {
    .product {
        margin-right: 15px;
    }
}

.main-card, .big-card, .collections, .products__wrap {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 5px $main-color solid;
}

.mt-20 {
    padding-top: 20px;
}

.no-opacity {
    opacity: 0;
}

.wrap {
    width: 100%;
    overflow-x: hidden;
}

.main-wrap {
    margin-top: 80px;
}

button {
    cursor: pointer;
}


// /////////// new code
.slider {
    width: 100%;

    &-inner > img {
        width: 100%;
        object-fit: contain;
    }
}

.result {
    margin-top: 20px;
    //justify-content: space-between;

    .product {
        margin-right: 10px;
        margin-bottom: 30px;
    }
}
.categories {
    position: relative;
    padding-top: 20px;
    margin-bottom: 90px;

    &__back {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        object-fit: contain;
    }

    &__slider {
        .item {
            padding: 10px;
            width: 170px;
            height: 170px;
            text-align: center;
            color: black;
            background: white;
            border-radius: 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            margin-right: 23px;
            margin-bottom: 20px;

            &-image {
                width: 90px;
                height: 90px;
                margin: 0 auto 20px;
                object-fit: contain;
                display: block;
            }

            .name {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

