.product {
    width: 210px;
    height: 310px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    &__big {
        flex: 1;
        position: relative;
        max-width: 570px;
        height: 690px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: white;
        border-radius: 5px;
        &:first-child{
            margin-right: 15px;
        }
        &-bottom {
            padding: 8px 15px;
        }

        &-name {
            font-size: 24px;
            height: 36px;
            overflow: hidden;
            display: inline-block;
            width: 100%;
        }

        &-count {
            padding-top: 10px;
            font-size: 16px;
        }

        &-price {
            font-weight: 600;
            font-size: 24px;
            padding-top: 10px;
        }

        &__image {
            display: block;
            width: 100%;
            object-fit: contain;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-bottom {
        padding: 8px 20px;
        text-align: center;
    }

    &-name {
        font-size: 14px;
        line-height: 18px;
        height: 36px;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }

    &-count {
        padding-top: 5px;
    }

    &-price {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    &__image {
        height: 210px;
        width: 210px;
        object-fit: cover;
    }
}

.absolute-hot{
    position: absolute;
    top: 0;
    left: 0;
}
.absolute-recommend{
    position: absolute;
    top: 0;
    right: 0;
}
.products__wrap{
    .product{
        margin-right: 10px;
        margin-bottom: 15px;
    }
}
