.company{
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 270px;
    display: flex;
    padding: 30px 10px 30px 0;
    margin-top: 20px;
    &__right{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

}

.organization{
    display: flex;
    &__logo{
        width: 200px;
        height: 200px;
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }
    &__info{
        &-item{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-size: 14px;
        }
        &-left{
            color: #9C9C9C;
        }
    }
}
