.footer {
    background: $second-color;
    padding: 25px 0;
    //margin-top: 50px;
    & * {
        color: $main-color;
    }

    &-title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }

    ul {
        li {
            flex: 1;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &-phone {
        font-size: 24px;
        margin-bottom: 8px;
        display: block;
    }

    &-email {
        font-size: 16px;
        text-decoration: underline;
        display: block;
    }

    .developed {
        margin-top: 20px;

        .bold {
            margin-left: 5px;
        }

        .indev {
            margin-left: 10px;
        }
    }
}
